@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #6366f1;
  --color-secondary: #06b6d4;
  --color-tertiary: #f59e0b;
}

@layer components {
  .spinner {
    @apply w-5 h-5 rounded-full border-4 animate-[spin_0.3s_linear_infinite];
    border-left-color: var(--color-primary);
    border-right-color: var(--color-secondary);
    border-bottom-color: var(--color-tertiary);
    border-top-color: transparent;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Fix autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #111827 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
  border: 1px solid #374151;
}
input,
textarea {
  caret-color: #ffffff;
}

.manual-scroll::-webkit-scrollbar {
  width: 4px;
}

.manual-scroll::-webkit-scrollbar-thumb {
  background: #1100ff;
  border-radius: 9999px;
}

.manual-scroll::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.manual-scroll {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}
