@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #6366f1;
  --color-secondary: #06b6d4;
  --color-tertiary: #f59e0b;
}

@layer components {
  .spinner {
    @apply w-5 h-5 rounded-full border-4 animate-[spin_0.3s_linear_infinite];
    border-left-color: var(--color-primary);
    border-right-color: var(--color-secondary);
    border-bottom-color: var(--color-tertiary);
    border-top-color: transparent;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.noscrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}